<div>
    <p style="margin: 20px; font-size: 20px; font-weight: 500;">
        Income Lists
    </p>
    <div *ngIf="reports && reports.length > 0">
        <p style="margin: 20px; font-size: 20px; font-weight: 500;">
            Total Income:{{getTotalIncome()}}
        </p>
    </div>
    <button (click)="getReports(7)">Last 7 Days</button>
    <button (click)="getReports(15)">Last 15 Days</button>
    <button (click)="getReports(30)">Last 30 Days</button>

    <div *ngIf="reports" style=" width: 400px; height:470px;overflow-y: auto;overflow-x: hidden;">
        <div *ngFor="let income of reports" class="row"
            style="margin:20px; padding: 20px; border-radius: 20px; background-color: rgba(68, 93, 72,0.1);  box-shadow: 0 0px 0px rgba(111, 161, 218, 0.2), 0 0px 5px rgba(0, 0, 0, 0.19); height: fit-content; color:rgba(68, 93, 72);font-weight: 500;">
            <div style="margin-right: 1cm;text-align: left; ">
                <!-- <p>Income Id</p> -->
                <p>Month Of Entry</p>
                <p>Day Of Entry</p>
                <p>Amount</p>
                <p>Category</p>
                <p>Description</p>
            </div>
            <div style="text-align: right;">
                <!-- <p>{{ income.incomeId }}</p> -->
                <p>{{ income.dateOfEntry }}</p>
                <p>{{income.dayOfTheMonth}}</p>
                <p>{{ income.amount}}</p>
                <p>{{ income.category }}</p>
                <p style="width: 4cm;">{{ income.description }}</p>
            </div>
        </div>
    </div>
</div>