<div class="row gv-2">
    <form style="height: fit-content;" [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <p style="font-size: 20px; font-weight: 500;"> <i class="fa-solid fa-coins"></i> Add Savings</p>
        <div class="input-settings">
            <input type="text" id="amount" formControlName="amount" class="col-5 form-control" id="inputAddress2"
                placeholder="Amount">
        </div>

        <div class="input-settings">
            <input type="text" id="description" formControlName="description" class="form-control col-5" id="inputZip"
                placeholder="Description">
        </div>


        <div class="input-settings">
            <div style="width: 7cm; padding-left: 12px;">
                <label for="inputCategory" class="form-label"> <i class="fa-solid fa-list"></i> Category</label>
            </div>
            <div class="row" style="padding: 0px 10px 0px 10px ;width: 8cm;">
                <div class="col-2" style="margin-right:50px">
                    <button type="button" class=" btn category-button" (click)="selectCategory('SHARE')">SHARE</button>
                    <button type="button" class=" btn category-button" (click)="selectCategory('BOND')">BOND</button>
                </div>
                <div class="col-2">
                    <button type="button" class=" btn category-button"
                        (click)="selectCategory('CURRENT_DEPOSIT')">CURRENT_DEPOSIT</button>
                    <button type="button" class=" btn category-button"
                        (click)="selectCategory('FIXED_DEPOSIT')">FIXED_DEPOSIT</button>
                </div>
            </div>
            <input type="hidden" formControlName="category">
        </div>

        <div class="input-settings" style="margin-top: 20px;">
            <button type="submit" class="btn" style="background-color:#679b6d;color: white; width: 6cm;"><i
                    class="fa-solid fa-plus" style="color: white;" (click)="showSnackbar()"></i>
                Insert</button>
        </div>
    </form>
</div>