<div class="primary">
    <section class="title">
        <p style="font-size: 22px;">
            <i class="fa-solid fa-briefcase" style="color: #0DB529; font-size:23px;"></i>
            <strong> FinTrack</strong>
        </p>
    </section>

    <a routerLink="/dashboard/home">
        <section class="button-settings ">
            <i class="fa-solid fa-house icon-setting"></i>Home
        </section>
    </a>

    <a routerLink="/dashboard/expense">
        <section class="button-settings ">
            <i class="fa-solid fa-file-invoice-dollar icon-setting"></i>Expenses
        </section>
    </a>

    <a routerLink="/dashboard/income">
        <section class="button-settings ">
            <i class="fa-solid fa-coins icon-setting"></i>Income
        </section>
    </a>

    <a routerLink="/dashboard/saving">
        <section class="button-settings ">
            <i class="fa-solid fa-piggy-bank icon-setting"></i>Saving
        </section>
    </a>

    <a routerLink="/dashboard/income-allocation">
        <section class="button-settings ">
            <i class="fa-solid fa-coins icon-setting"></i> Income Allocation
        </section>
    </a>

    <a routerLink="/dashboard/accounts">
        <section class="button-settings ">
            <i class="fa-solid fa-chart-simple icon-setting"></i>Accounts
        </section>
    </a>
    <a (click)="onClick()">
        <section class="button-settings" style="margin-top: 70px; color: black;">
            <i class="fa-solid fa-arrow-right-from-bracket icon-setting"></i>Log Out
        </section>
    </a>
</div>