.primary {
    height: 100vh;
    width: 200px;
    position: static;
    flex-grow: 0;
    /* background-color:rgb(34,46, 80) ;   */
    background-color: #a2d4a7;
}

.button-settings {
    transition-duration: 0.3s;
    height: 50px;
    /* max-height: 90px; */
    font-size: 15px;
    color: black;

}

.icon-setting {
    font-size: 15px;
    margin: 20px 10px 0px 20px;
    color: black;
}

.button-settings:hover {
    background-color: rgba(60, 123, 168, 0.3);
    padding-left: 10px;

}

hr {
    height: 100vh;
    border: none;
    background: black;
    margin: 0px 0px 0px 30px;
    width: 1px;
}

a {
    text-decoration: none;
    color: black;
}


.title {
    color: black;
    padding: 50px 0px 0px 20px;
    height: 120px;
    min-height: 70px;
    max-height: 150px;
    font-size: 15px;
}

.logout-settings:hover {
    font-size: 20px;
}